<mjml>
  <mj-head>
    <mj-style>
      @media all and (max-width: 480px) { // body { // display: none; // } }
    </mj-style>
    <mj-style inline="inline">
      body { //min-width: 400px; }
    </mj-style>
  </mj-head>
  <mj-body background-color="#FFFFFF" color="#000000" font-family="Arial, sans-serif" css-class="body">
    <mj-section>
      <mj-column>
        <mj-text align="right" color="#707070" font-family="Arial, sans-serif" font-size="21px" line-height="21px" padding-bottom="0px" padding-top="0px" padding="0 0">
          <a href="https://www.google.com/" style="text-align: right; margin: 0 55px 0 0;color:#151e23;font-size:12px;font-family:Arial,sans-serif; display:inline-block;">Im Browser anzeigen</a>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" background-repeat="no-repeat" padding-bottom="0px" padding-top="0px" padding="20px 0" text-align="center" vertical-align="top">
      <mj-column>
        <mj-image align="center" padding="20px 20px 60px" src="img/infiniry_logo.png" target="_blank" width="385px"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-repeat="no-repeat" padding-bottom="0px" padding-top="0px" padding="0 0" text-align="center" vertical-align="top">
      <mj-column>
        <mj-image align="center" padding-bottom="0px" padding-left="0px" padding-right="0px" padding-top="0px" padding="0 0" src="img/main-mail.jpg" target="_blank" width="600px"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" background-repeat="repeat" background-size="auto" padding-bottom="50px" padding-top="35px" padding="0 20px 0 20px" text-align="center" vertical-align="middle">
      <mj-column>
        <mj-text align="center" color="#8d93a3" font-family="Arial, sans-serif" font-size="30px" line-height="22px" padding-bottom="10px" padding-top="10px" padding="0 0">
          <p style="line-height: 27px; margin: 0 0; text-align: center; color:#8d93a3; font-size:32px; font-family:Arial,sans-serif">Danke fürs Abonnieren!</p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#ffffff" background-repeat="no-repeat" padding-bottom="60px" padding="0 0" text-align="left" vertical-align="middle">
      <mj-column>
        <mj-text align="left" color="#000000" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="35px" padding-left="20px" padding-right="20px" padding-top="0px" padding="0 0">
          <p style="line-height: 14px; margin: 0 0;font-size:14px; color:#000000; font-family:Arial,sans-serif; color:#000000; line-height:21px">Wir freuen uns sehr, dass unser Gespräch fortgesetzt wird. Für Sie werden immer die aktuellsten Informationen zu Neuerwerbungen, Kursen und Nachrichten zur Verfügung stehen. Bald wird es viel Interesse geben. Im Kontakt!</p>
        </mj-text>
        <mj-text align="left" color="#000000" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="0" padding-left="20px" padding-right="20px" padding-top="0px" padding="0 0">
          <p style="line-height: 14px; margin: 0 0;font-size:14px; color:#000000; font-family:Arial,sans-serif; color:#000000; line-height:21px">Viele Grüße,</p>
        </mj-text>
        <mj-text align="left" color="#000000" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="0" padding-left="20px" padding-right="20px" padding-top="10px" padding="0 0">
          <p style="line-height: 14px; margin: 0 0;font-size:14px; color:#000000; font-family:Arial,sans-serif; color:#000000; line-height:21px">Ihr Infinity Lashes Team
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#efefef" padding="60px 0 0 0">
      <mj-column>
        <mj-divider border-width="2px" border-style="solid" border-color="#000000" width="80%" padding="0 0 30px 0" />
      </mj-column>
    </mj-section>
    <mj-section background-color="#efefef" padding="0 0 25px 0">
      <mj-group>
        <mj-column>
          <mj-image align="right" width="38px" height="38px" padding="0" src="img/fb.png" href="https://www.google.com/" padding-right="15px" />
        </mj-column>
        <mj-column>
          <mj-image align="left" width="38px" height="38px" padding="0" src="img/ig.png" href="https://www.google.com/" padding-left="15px" />
        </mj-column>
      </mj-group>
    </mj-section>
    <mj-section background-color="#efefef" background-repeat="no-repeat" padding-bottom="40px" padding="0 0" text-align="center" vertical-align="middle">
      <mj-column>
        <mj-text align="center" color="#707070" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="0" padding-left="0" padding-right="0" padding-top="0px" padding="0 0">
          <p style="line-height: 14px; margin: 0 0;font-size:14px; color:#707070; font-family:Arial,sans-serif; color:#707070; line-height:21px">Tel: <a href="tel:+491732595108" style="color:#707070">+491732595108</a></p>
        </mj-text>
        <mj-text align="center" color="#707070" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="0" padding-left="0" padding-right="0" padding-top="0px" padding="0 0">
          <p style="line-height: 14px; margin: 0 0;font-size:14px; color:#707070; font-family:Arial,sans-serif; color:#707070; line-height:21px"><a href="mailto:support@infinity-lashes.de" style="color:#707070">support@infinity-lashes.de</a></p>
        </mj-text>
        <mj-text align="center" color="#707070" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="0" padding-left="0" padding-right="0" padding-top="0px" padding="0 0">
          <p style="line-height: 14px; margin: 0 0;font-size:14px; color:#707070; font-family:Arial,sans-serif; color:#707070; line-height:21px"><a href="http://infinity-lashes.de/" target="_blank" style="color:#707070">infinity-lashes.de</a></p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section background-color="#efefef" background-repeat="no-repeat" padding-bottom="20px" padding="0 0" text-align="center" vertical-align="middle">
      <mj-group>
        <mj-column>
          <mj-text align="center" color="#707070" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="0" padding-left="0" padding-right="0" padding-top="0px" padding="0 0">
            <p style="line-height: 21px; margin: 10px 0; text-align: right;font-size:12px;color:#707070;font-family: Arial,sans-serif;"><a href="https://www.google.com/" style="color: #707070; text-decoration: none;">IMPRESSUM</a></p>
          </mj-text>
        </mj-column>
        <mj-column>
          <mj-text align="center" color="#707070" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="0" padding-left="0" padding-right="0" padding-top="0px" padding="0 0">
            <p style="line-height: 21px; margin: 10px 0; text-align: center;font-size:12px;color:#707070;font-family: Arial,sans-serif;"><a href="https://www.google.com/" style="color: #707070; text-decoration: none;border-right: 1px solid #707070;border-left: 1px solid #707070; padding-left:20%;padding-right:20%;">AGB</a></p>
          </mj-text>
        </mj-column>
        <mj-column>
          <mj-text align="center" color="#707070" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="0" padding-left="0" padding-right="0" padding-top="0px" padding="0 0">
            <p style="line-height: 21px; margin: 10px 0; text-align: left;font-size:12px;color:#707070;font-family: Arial,sans-serif;"><a href="https://www.google.com/" style="color: #707070; text-decoration: none;">DATENSCHUTZ</a></p>
          </mj-text>
        </mj-column>
      </mj-group>
    </mj-section>
    <mj-section background-color="#efefef" padding="0 0 0 0">
      <mj-column>
        <mj-divider border-width="1px" border-style="solid" border-color="#cccccc" width="80%" padding="0 0 30px 0" />
      </mj-column>
    </mj-section>
    <mj-section background-color="#efefef" background-repeat="no-repeat" padding-bottom="30px" padding="0 0" text-align="center" vertical-align="middle">
      <mj-column>
        <mj-text align="center" color="#707070" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="0" padding-left="0" padding-right="0" padding-top="0px" padding="0 0">
          <p style="line-height: 14px; margin: 0 0;font-size:14px; color:#707070; font-family:Arial,sans-serif; color:#707070; line-height:21px">Kaiserstraße 59 44135, Dortmund</p>
        </mj-text>
        <mj-text align="center" color="#707070" font-family="Arial, sans-serif" font-size="14px" line-height="21px" padding-bottom="0" padding-left="0" padding-right="0" padding-top="0px" padding="0 0">
          <p style="line-height: 14px; margin: 0 0;font-size:14px; color:#707070; font-family:Arial,sans-serif; color:#707070; line-height:21px">© Infinity Lashes 2018</p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>